.section7 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 53px 97px;
    color: #ffffff;
    background-color: #1e1e1e;
    padding: 40px 167px;
    padding-top: 186px;
}

.logIn {
    width: 1245px;
    height: 356px;
    background: rgba(71, 71, 71, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 42px;
}

.logIn > p {
    font-weight: 500;
    font-size: 55px;
    line-height: 137%;
}

.input {
    width: 276px;
    height: 53px;
    background: #e4e4e4;
    border-radius: 8px 0px 0px 8px;
    border: none;
    padding-left: 20px;
    outline: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 137%;
    color: #818181;
}

.log {
    display: flex;
    gap: 9px;
}

.log > input {
    width: 276px;
    height: 53px;
    border: none;
    padding-left: 20px;
    outline: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 137%;
    color: #818181;
    background: #e4e4e4;
}

.log > button {
    width: 116px;
    height: 53px;
    background: #e3b748;
    border-radius: 0px 8px 8px 0px;
    font-weight: 700;
    font-size: 14px;
    line-height: 137%;
    text-align: center;
    color: #000000;
    border: none;
}


@media (max-width: 1039px) {
    .section7 {
        padding: 20px;
    }
}
@media (max-width: 801px) {
    .right > p {
        font-size: 15px;
    }
    .right > span {
        font-size: 10px;
    }
    .p p {
        font-size: 14px;
    }
    .p {
        display: flex;
        justify-content: start;
        gap: 10px;
        border: none;
        align-items: flex-start;
        width: 240px;
    }
    .logIn p {
        font-size: 20px;
    }
    .log input {
        width: 100px;
        height: 40px;
        font-size: 9px;
        padding-left: 5px;
    }
    .log button {
        width: 100px;
        height: 40px;
        font-size: 9px;
    }
    #input {
        width: 100px;
        height: 40px;
        font-size: 9px;
        padding-left: 5px;
    }
}
@media (max-width: 390px) {
    .section7 > p {
        display: none;
    }
    .section7 {
        padding: 1px;
    }
    .p {
        display: flex;
        flex-direction: column;
        width: 150px;
    }
    .log {
        display: flex;
        flex-direction: column;
    }
    .logIn {
        margin-top: 30px;
    }
}